@media only screen and (min-width: 250px) {
  .navbar {
    position: fixed;
    width: 100%;

    .headline {
      display: none;
    }

    .navHeader {
      display: none;
    }

    .navigation {
      flex-direction: column;

      .navItem {
        margin: 0 auto;
        text-align: center;
        padding: 0 5px;
      }
    }
  }

  .mainContent {
    height: 200%;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    .mobile {
      display: none;
    }

    .desktop {
      display: inline-block !important;
    }

    .navbar {
      .headline {
        display: block;
      }

      .navHeader {
        display: inline;
      }

      .navigation {
        flex-direction: row;

        .navItem {
          margin: 0 auto;
          text-align: center;
          padding: 0 5px;
        }
      }
    }
  }
}

.container {
  max-width: 100vw;
  max-height: 100vh;

  .navbar {
    width: 100vw;
    left: 0;
    top: 0;
    height: 72px;
    background: none;
    letter-spacing: 10px;
    font-weight: 600;
    font-size: 50px;
    position: fixed;
    z-index: 999;
    padding: 20px;
    background: rgba(254, 252, 251, 0.5);
    display: flex;

    .navHeader {
      color: black;
      align-self: flex-start;
      line-height: 90%;
      font-family: Gilroy;
      font-weight: 100;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }

    .navigation {
      width: 96vw;
      display: flex;
      justify-content: flex-end;
      margin: 0 auto;
      background: none;
      font-family: Gilroy;

      .navItem {
        font-weight: 100;
        color: black;
        font-size: 0.75rem;
        letter-spacing: 2px;
        z-index: 999;
        margin: 5px 20px 20px 20px;
        position: relative;

        &:hover {
          color: #b76d51;
          background: none;
        }
      }
    }

    .flexWrapper {
      display: flex;
      padding: 17px;
    }

    .navImage {
      width: 100vw;
    }
  }

  .mainContent {
    max-height: calc(100vh - 72px);
  }
}

.desktop {
  display: none;
}

.center {
  margin: 0 auto;
}
