@media only screen and (min-width: 250px) {
  .home {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 100vw;
    height: 100vh;

    .leftContent {
      width: 100vw;
      margin: 0 auto;
      .portrait {
        width: 100%;
        min-width: 300px;
        max-width: 400px;
        left: 0;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .home {
    width: 100vw;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    .leftContent {
      background: none;
      margin-top: 80px;
      padding: 70px 40px;
      text-align: center;

      .portrait {
        max-width: 800px;
        min-width: 500px;
      }
    }

    .rightContent {
      width: 100vw;
      margin-top: 0;
      padding: 70px 40px;
    }
  }
}

.home {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;

  .leftContent {
    width: 43vw;
  }
}
