$color-primary-main: #fcfafc;
$color-accent-darker: #304022;
$color-accent-dark: #67874b;
$color-accent: #fadb5d;

$color-lemon: #fadb5d;
$color-eucalyptus: #67874b;
$color-eucalyptus-dark: #304022;
$color-umber: #816644;
$color-white: #fff;

//#644536
//#CB997E
//#FCFAFC
//#AAAA88
//#6D7557
//#091E05
