@media only screen and (min-width: 250px) {
  .index {
    min-height: 100vh;
    //padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fefbfa;

    .homeSection {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .coreValuesSection {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;
      background: #fcf7f5;
    }
    .experienceSection {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;
      background: #f9efeb;
    }

    .downloadSection {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;
      background: #f2ded6;
    }
  }

  .main {
    //padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer {
    width: 100%;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4bcac;
  }

  .title {
    color: black;
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1000px) {
  .index {
    .homeSection {
      top: -72px;
    }
  }
}
