@media only screen and (min-width: 250px) {
  .index {
    min-height: 100vh;
    //padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fefbfa;

    .homeSection {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .coreValuesSection {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;
      background: #fcf7f5;
    }

    .skillsSection {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;
      background: #f9efeb;
    }

    .experienceSection {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;
      background: #f2ded6;
    }

    .workSection {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;
      background: #e4bcac;
    }
  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact {
      display: none;

      .socialButton {
        .socialIcon {
          width: 25px;
          height: 25px;
        }
      }
    }

    .footer {
      width: 100vw;
      height: 5vh;
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #deab98;
      color: white;
    }
  }

  .title {
    color: black;
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1000px) {
  .index {
    .homeSection {
      top: -72px;
    }

    .main {
      .contact {
        display: flex;
      }
    }
  }
}

.contact {
  background-color: rgba(254, 252, 251, 0.5);
  position: fixed;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  width: 315px;
  height: 50px;
  bottom: 50px;
  right: 7px;
}
